body{
    /* position: fixed; */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    user-select: none;
    background-color: rgb(186, 180, 180);
}
body::-webkit-scrollbar {
    display: none; 
}

.container{
    margin-left: 1.8em;
    padding: 25px;
    border-radius: 11px;
    /* background-color: #ffffff; */
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #c6c8c8, 
                inset -5px -5px 8px #828383;

}

label{
    display: flex;
    
    align-items: center;
    color: white; 
    position: absolute; 
    right: 30px; 
    font-size: larger;
}
.row button{
    width: 60px;
    height: 30px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 5px;
    border-radius: 4px;
    transition: 0.5s;
    /* box-shadow: inset 5px 5px 8px #9da2a2, 
                inset -3px -3px 8px #828383; */
    box-shadow: 5px 5px 8px #00000020, 
    inset -5px -5px 8px #ffff;
}
.row button:hover{
    box-shadow: inset 5px 5px 8px rgba(31, 26, 26, 0.1), 
                inset -7px -7px 8px #fff;
    background: #fff;
}
.display #screen{
    margin-bottom: .5em;
    width: auto;
    height: 80px;
    font-size: 35px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: .5em;
    background-color: white;
    border-radius: 6px;
    box-shadow: inset 8px 8px 8px #cbced1, 
                inset -8px -8px 8px #dfdede;
}
#eval{
    background: #33ccff;
    color: #fff;
    box-shadow: inset 5px 5px 8px #66d9ff, 
                inset -5px -5px 8px #00ace6;
}
#eval:hover{
    box-shadow: inset 5px 5px 8px #027aa1, 
                inset -5px -5px 8px #66d9ff;
}
#ac{
    background: #266ec5;
    color: #fff;
    box-shadow: inset 5px 5px 8px #74d5f5, 
                inset -5px -5px 8px #266ec5;
}
#ac:hover {
    box-shadow: inset 5px 5px 8px #2e57b8, 
                inset -5px -5px 8px #6576c4;
}
#ce {
    background: #ed0e0e;
    color: #fff;
    box-shadow: inset 5px 5px 8px #ff6666, 
                inset -5px -5px 8px #ff3333;
    color: #fff;
}

#ce:hover {
    box-shadow: inset 5px 5px 8px #d70404,inset -5px -5px 8px #d13838;
}
@media(min-width: 568px){
    .container{
        margin-left: 1.8em;
        padding: 25px;
        border-radius: 11px;
        background-color: white;
    }
}

/* dark theme */
